<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<appSettings>
		<add key="WescoLoginUrl" value="https://www.anixter.com/en_us/login"/>
		<add key="WescoUsername" value="operations@csi-security.us"/>
		<add key="WescoPassword" value="Wuv69631!"/>

		<add key="ChromeDriver:HideCommandPromptWindow" value="true"/>
		<add key="ChromeDriver:SaveMilestoneScreenshots" value="false"/>
		<add key="ChromeDriver:WaitForMilliSecondsForActions" value="5000"/>
	</appSettings>
</configuration>
