<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
	<connectionStrings>
		<add name="ScrapperEntities" connectionString="data source=VIC-MM;initial catalog=CSIScrapper;persist security info=True;user id=sa;password=manav;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="WescoLoginUrl" value="https://www.anixter.com/en_us/login"/>
		<add key="WescoUsername" value="operations@csi-security.us"/>
		<add key="WescoPassword" value="Wuv69631!"/>

		<add key="ChromeDriver:HideCommandPromptWindow" value="true"/>
		<add key="ChromeDriver:SaveScreenshots" value="false"/>
		<add key="ChromeDriver:ScreenshotDirectoryName" value="Screenshots"/>
		<add key="ChromeDriver:ImplicitWaitSeconds" value="10"/>

		<add key="NumberOfRecordsToSaveInBatch" value="20"/>
	</appSettings>
</configuration>
