<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<connectionStrings>
		<!--<add name="ScrapperEntities" connectionString="data source=VIC-MM;initial catalog=CSIScrapper;persist security info=True;user id=sa;password=manav;MultipleActiveResultSets=True;App=CSIScrapingEF" providerName="System.Data.SqlClient" />-->

		<add name="ScrapperEntities" connectionString="data source=csidb01.database.windows.net;initial catalog=webscraper;persist security info=True;user id=csidb01;password=5RI91ovLs3ecrOnuqlQI;MultipleActiveResultSets=True;App=CSIScrapingEF" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Wesco:LoginUrl" value="https://www.anixter.com/en_us/login" />
		<add key="Wesco:Username" value="operations@csi-security.us" />
		<add key="Wesco:Password" value="Wuv69631!" />
		<add key="Wesco:SaveScreenshots" value="false" />
		<add key="Wesco:ScreenshotDirectoryName" value="Wesco-Screenshots" />

		<add key="ScanSource:HomeUrl" value="https://www.scansource.com" />
		<add key="ScanSource:Username" value="operations@csi-security.us" />
		<add key="ScanSource:Password" value="Wuv69631!" />
		<add key="ScanSource:SaveScreenshots" value="false" />
		<add key="ScanSource:ScreenshotDirectoryName" value="ScanSource-Screenshots" />

		<add key="AdiGlobal:HomeUrl" value="https://www.adiglobaldistribution.us" />
		<add key="AdiGlobal:Username" value="operations@csi-security.us" />
		<add key="AdiGlobal:Password" value="Wuv69631" />
		<add key="AdiGlobal:SaveScreenshots" value="false" />
		<add key="AdiGlobal:ScreenshotDirectoryName" value="AdiGlobal-Screenshots" />

		<add key="BHPhotoVideo:HomeUrl" value="https://www.bhphotovideo.com/" />
		<add key="BHPhotoVideo:Username" value="" />
		<add key="BHPhotoVideo:Password" value="" />
		<add key="BHPhotoVideo:SaveScreenshots" value="true" />
		<add key="BHPhotoVideo:ScreenshotDirectoryName" value="BHPhotoVideo-Screenshots" />

		<add key="ChromeDriver:HideCommandPromptWindow" value="true" />
		<add key="ChromeDriver:ImplicitWaitSeconds" value="30" />
		<add key="ChromeDriver:BrowserlessApiKey" value="98579b96-4ded-4cc4-8e9f-c7f53d3d9b6c" />

		<add key="NumberOfRecordsToSaveInBatch" value="20" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.11.58.0" newVersion="1.11.58.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PuppeteerSharp" publicKeyToken="db12f80f85d8ba23" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-110.2.0.0" newVersion="110.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
